.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  position: fixed;
  top: 0;
  left: 0;
  color: white;
}
